body {
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

header {
  background-image: url("../assets/images/header-bg.png");
  min-height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.container {
  background-color: #9e9696;
  position: absolute;
  margin-top: 20px;
  width: 100%;
}

header #branding {
  float: left;
}

header li {
  display: inline;
  opacity: 1;
  padding: 0 20px 0 20px;
}

header nav {
  float: right;
  margin-top: 10px;
}

header a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header .highlight,
header .current a {
  color: #901f45;
  font-weight: bold;
}

header a:hover {
  color: #901f458f;
  font-weight: bold;
}

#branding img {
  margin-left: 50px;
}

.message {
  padding-top: 15%;
  color: white;
  padding-left: 40%;
  min-width: 500px;
  font-size: 20px;
}

.message p {
  font-size: 25px;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}
